
/** 상단메뉴 **/
span.top_menu{margin-left:88px;margin-top:25px;}
span.top_menu ul,span.menu li{display:inline-block;}
span.top_menu li{float:left;padding:0 37px;}
span.top_menu li.lastMenu{padding-right:0;}
span.top_menu li a{display:block;}
span.top_menu li.sep{/*background:url(../images/common/t_menu_sepLine.png) 50% left no-repeat;*/padding:0;}

/** lnb 메뉴 **/
.lnb h2{margin:0;padding:0;}

.lnb div.log_info{background:url(../images/common/log_info_bg.png);width:199px;height:171px;float:left;margin-top:31px;margin-bottom:11px;}
.lnb div.log_info p.invite{width:199px;display:inline-block;color:#fff;font-weight:normal;text-align:center;margin-top:9px;}
.lnb div.log_info em{font-style:normal;font-weight:bold;font-size:1.2em;padding:0 4px 0 0;}
.lnb div.log_info div.p_info{margin-top:20px;color:#000;display:block;width:170px;margin-left:16px;}
 div.p_info table,div.p_info td,div.p_info th{border-collapse:collapse;border:0;}
 div.p_info th{padding:8px 0;background:#f5f5f5;border-bottom:1px solid #ddd;}
 div.p_info td{font-size:0.9em;letter-spacing:0.009em;font-weight:normal;padding:6px 4px;border:1px solid #ddd;}
 div.p_info td span.p_data{background:url(../images/common/bool_red.png) left 50% no-repeat;padding-left:4px;padding-right:2px;letter-spacing:-1px;}
 em.red{font-weight:bold;letter-spacing:-1px;font-size:8px;color:#CC0000;}

.lnb div.log_info:after{clear:both;height:100%;}

.lnb {font:bold 12px dotum;letter-spacing:-1px;clear:both;float:left;width:199px;}
.lnb ul,.lnb li{}
.lnb ul{background-image:url(../images/common/lnb_bg.gif);width:199px;display:block;}
.lnb li{background-image:url(../images/common/lnb_bg.gif);background-position:0 bottom;position:relative;bottom:-12px;height:50px;margin:0 0 -11px 0;}
.lnb li em{display:block;width:180px;height:1px;background:url('../images/common/sep_dot.gif') repeat-x;padding:0;margin:0;margin-left:10px !important;margin-bottom:0 !important;bottom:-3px;position:relative;}

.lnb li a{margin-left:10px;background-image:url(../images/common/lnb_bool.gif);background-position:left 50%;background-repeat:no-repeat;display:block;width:170px;line-height:33px;vertical-align:middle;text-decoration:none;padding-left:10px;text-indent:10px;color:#2d2c2c;}
.lnb li a:hover{text-decoration:none;color:#fff;background-position:left 50%;background-repeat:no-repeat;background-image:url(../images/common/lnb_bool_over.gif);background-color:#007dc5;}


