@charset 'utf-8';

.LpageMonitoring .types:after, .LpageMonChannel .signin .forms .acc:after { content:"."; display: block; clear: both; visibility: hidden; height: 0; font-size: 0 }

.LpageMonitoring .types { min-height:500px; _height:500px; margin-right:-10px }
.LpageMonitoring .each { position:relative; float:left; width:192px; min-height:122px; _height:122px; margin:0 10px 10px 0; padding:22px 10px 10px 184px; border:1px solid #CDCDCD }
.LpageMonitoring .each h4 { margin-bottom:5px; font-size:12px }
.LpageMonitoring .each dl { margin-bottom:12px }
.LpageMonitoring .each dt { float:left; clear:left; margin-right:4px }
.LpageMonitoring .each dd { margin-left:68px }
.LpageMonitoring .each .cont { color:#686868; font-size:11px; line-height:1.4 }
.LpageMonitoring .each .lead, .LpageMonitoring .each dt { padding-left:11px; background:url('../images/monitoring/type_content_bul.gif') no-repeat -2px 6px }
.LpageMonitoring .each .icon { position:absolute; top:10px; left:10px; width:150px; height:134px; background:url('../images/monitoring/type_icons.png') no-repeat  }
.LpageMonitoring .each .launch { margin-left:1px }
.LpageMonitoring .server .icon {  background-position:-10px -10px }
.LpageMonitoring .dbsecuirty .icon { background-position:-170px -10px }
.LpageMonitoring .dbaccess .icon { background-position:-330px -10px }
.LpageMonitoring .webfirewall .icon { background-position:-490px -10px }
.LpageMonitoring .backup .icon { background-position:-650px -10px }

.LpageMonChannel { background:#484848 url('../images/monitoring/signin_bg_body.png') repeat-x left top }
.LpageMonChannel .signin { position:relative; width:589px; height:441px; margin:100px auto 0; padding:62px 80px 71px 79px; background:url('../images/monitoring/signin_bg.jpg') no-repeat left top }
.LpageMonChannel .signin .lead { color:#939393; font-size:14px }
.LpageMonChannel .signin h1 { position:absolute; top:150px; left:79px; width:589px; height:110px; color:#FFF; font-size:52px; text-align:center }
.LpageMonChannel .signin h2 { margin-bottom:16px; padding:0 0 4px 16px; background:url('../images/monitoring/signin_h2_bg.gif') no-repeat center bottom; color:#FFF; font-size:16px }
.LpageMonChannel .signin .forms { position:absolute; top:260px; left:184px; width:350px; min-height:126px; _height:126px; padding:34px 15px 70px; background:url('../images/monitoring/signin_bg_form.jpg') no-repeat left top }
.LpageMonChannel .signin .are-here { position:relative; margin:0 28px; padding-right:84px }
.LpageMonChannel .signin .forms label { float:left; width:48px; padding:4px 0; color:#D4D4D4; text-align:right }
.LpageMonChannel .signin .forms .submit { position:absolute; top:0; right:0; width:79px }
.LpageMonChannel .signin .forms .acc { min-height:26px; _height:26px }
.LpageMonChannel .signin .forms .acc .val { display:block; min-height:16px; _height:16px; margin-left:57px; padding:5px; background-repeat:no-repeat; background-position:left top }
.LpageMonChannel .signin .forms .acc br { display:none }
.LpageMonChannel .signin .forms .acc input { width:143px; height:16px; *margin:-1px 0; padding:0; border:0; background-color:transparent; color:#474747; font-size:12px; line-height:16px; font-family:돋움,Dotum,굴림,Gulim,Verdana,Tahoma,Arial,Apple-Gothic,sans-serif }
.LpageMonChannel .signin .forms .id { margin-bottom:9px }
.LpageMonChannel .signin .forms .id .val { background-image:url('../images/monitoring/signin_acc_bg_id.gif') }
.LpageMonChannel .signin .forms .password .val { background-image:url('../images/monitoring/signin_acc_bg_password.gif') }

