td {font-family:µ¸¿ò; font-size:8pt; color:#666666;line-height:16pt;}
form {margin:0; color: #5E5E5D;FONT-FAMILY:µ¸¿ò, arial; FONT-SIZE: 9pt;;letter-spacing:-0.02em; text-decoration:none;line-height:12pt;}
A:link {color:#666666; text-decoration:none; font-size:9pt;}
A:visited {color:#666666; text-decoration:none; font-size:9pt;}
A:active {color:#4169e1; text-decoration:none; font-size:9pt;}
A:hover {color:#3333FF; text-decoration:underline; font-size:9pt;}
font {font-family:µ¸¿ò; font-size:9pt; line-height:18px;}
.txt{font-family:µ¸¿ò; color:#666666; text-decoration:none; font-size:9pt;}
.com { font-family: "µ¸¿òÃ¼"; font-size: 9pt; color: #666666; line-height: 12pt; letter-spacing:-1pt;}
.consult_input { BORDER-RIGHT: #CCCCCC 1px solid; BORDER-TOP: #CCCCCC 1px solid; BORDER-LEFT: #CCCCCC 1px solid; BORDER-BOTTOM: #CCCCCC 1px solid; BACKGROUND-COLOR: #ffffff; font-size:9pt; color:#666666; }
.consult_textarea { font-family:µ¸¿ò; font-size:8pt; color:#6E6E6E; line-height:18px; BORDER-RIGHT: #E6E6E6 8px solid; BORDER-TOP: #EFEFEF 8px solid; BORDER-LEFT: #EFEFEF 8px solid; BORDER-BOTTOM: #E6E6E6 8px solid; BACKGROUND-COLOR: #FFFFFF }
